body {
    background-image: linear-gradient(to right, #eaeef7, #f9fbfc);
    font-family: 'Viaoda Libre' ;
  
    
}

header {
    
}
#kslCarousel {
    border: solid rgb(80, 113, 204);
     
}
li {
    font-size: 1.5rem;
}




h1 {
    font-family: 'Viaoda Libre' ;
    font-size: 5rem;
}
h2 {
    font-size: 3rem;
    text-align: center;
    border: 3px solid rgb(63, 181, 211)
    

}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-color: #a6c9da;
    
}

.site-footer {
    background-color: #a6c9da;;   
    padding: 25px 0;
    position: 
}

